/**
*/

.main{
	color:#FFF;
}
.main a{
	
	text-decoration: none;
	color:#FFF;
}
.main p{margin:0;}
.main .short-block{
	height:100px;text-align:center;padding:10px 2px 0px 2px;
}
.main .long-block{
	text-align:center;padding:20px 0 0 0;height:100px;
}
